<!-- restaurant/templates/restaurant/base.html-->
 {% load static %}
<html>
<head>
    <title>Boston Restaurant</title>
    <p class="tagline">
    Welcome to Boston Restaurant — serving cozy comfort food,
    daily chef specials, and warm hospitality in the heart of the city.
</p>
    <link rel="stylesheet" href="{% static 'restaurant/styles.css' %}">
</head>

<body>

<div class="page">

    <h1 class="title">🍝 Boston Restaurant<Restaurant</h1>

    <!-- cozy restaurant hero image -->
   <img class="hero-img"
     src="https://picsum.photos/600/400"
     alt="Cozy restaurant interior">

    <div class="card">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>